*{
  padding: 0;
  margin: 0;
}
.rockPaperScissorsMainPage{
  display: flex;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(60, 60, 112);
}
.rockPaperScissorsPageModal{
  display: flex;
  justify-content: center;
}
.rockPaperScissorsPageModalButton{
  align-self: flex-end;
  padding-right: 2%;
  justify-self: end;
}
.rockPaperScissorsModalButton{
  width: 64px;
  font-size: 18px;
  color: white;
  background: none;
  border-radius: 5px;
  padding: 5%;
  border: 2px solid white;
}
.rockPaperScissorsModalButton:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}
.rockPaperScissorsPageTitleWithScore{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  width: 50%;
}